nbproject/*
!nbproject/project.properties
!nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
core
*.class

*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

